@import "src/theme-light.scss";
@import "src/theme-dark.scss";

.progressControlContainer {
  display: flex;
  justify-content: space-between;
  gap: calc(100% - 156px * 2);
  margin-bottom: 40px;
  padding-top: 24px;
  width: 100%;
  border-top: 1px solid #e6e6eb;
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 46px;
  appearance: none;
  border: none;
  border-radius: 8px;
  background: initial;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.buttonPrev {
  @extend %button;
  justify-content: flex-start;
  color: var(--left-arrow);
}

.buttonPrev svg {
  fill: var(--left-arrow);
}

.buttonNext {
  @extend %button;
  justify-content: center;
  color: var(--white);
  background-color: var(--pink);
}

.none {
  display: none;
}

@media screen and (min-width: 480px) {
  .progressControlContainer {
    justify-content: flex-end;
  }
  .buttonNext {
    max-width: 156px;
  }
}
