@use "src/base.scss";
@import "src/theme-light.scss";
@import "src/theme-dark.scss";

.formTitle {
  @extend %formTitle;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

%radioStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 11px 20px;
  border-radius: 4px;
  color: var(--main-text);
  background-color: var(background-color);
  cursor: pointer;
}

.radioGroup {
  @extend %radioStyle;
  border: 1px solid var(--undone-progress-border);
}

.radioGroupChecked {
  @extend %radioStyle;
  border: 1px solid var(--progress-current-color);
}

.radio {
  appearance: none;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--undone-progress-border);
  border-radius: 50%;
  cursor: pointer;
  &:checked {
    background-color: var(--pg-addr-color);
    box-shadow: inset 0 0 0 5px var(--pg-addr-bg-color);
  }
}

.radioInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: var(--main-font-family);
  font-weight: 400;
  line-height: 1rem;
  color: var(--main-text);
}

.shippingInfo {
  display: flex;
  justify-content: space-between;
}

.shippingFee,
.shipmentPeriod {
  font-size: 12px;
}
