@use "src/base.scss";
@import "src/theme-light.scss";
@import "src/theme-dark.scss";

.stepProgressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--progress-undone-color);
  border-radius: 50%;
  color: var(--progress-undone-color);
  font-family: var(--main-font-number-family);
  font-weight: 700;

  &[data-onactive="true"] {
    border: none;
    color: var(--progress-done-color);
    background-color: var(--product-action-text);
  }

  &[data-active="true"] {
    border: none;
    border: 1px solid var(--progress-current-color);
    color: var(--progress-current-color);
  }
}

.stepConnecter {
  width: 60px;
  height: 1px;
  border: 2px solid var(--undone-progress-border);

  &[data-active="true"] {
    border: 2px solid var(--progress-current-color);
  }
}
