@use "src/base.scss";
@import "src/theme-light.scss";
@import "src/theme-dark.scss";

.selectGroup {
  @extend %inputGroup_share;
  position: relative;
}

.selectLabel {
  @extend %inputLabel_share;
}

.selectWrapper {
  position: relative;
  &::after {
    content: "\25BE";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
}

.select {
  @extend %input_share;
  appearance: none;
  background: var(--background-color);
}
