@use "src/base.scss";
@import "src/theme-light.scss";
@import "src/theme-dark.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  margin-top: 1rem;
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
  color: var(--main-text);
}

.mainWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 32px;
  margin-top: 1.5rem;
}

.stepProgress {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.progressControl {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.cart {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

@media screen and (min-width: 480px) {
  
  .mainTitle {
    margin-top: calc(5rem + 60px);
    font-size: 32px;
  }

  .mainWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 24px 288px 72px;
    grid-gap: 3rem clamp(0px, 10%, 130px);
    width: 100%;
    margin-top: 3rem;
  }
  .stepProgress {
    grid-row: 1 / 2;
  }

  .form {
    grid-row: 2 / 3;
  }

  .progressControl {
    grid-row: 3 / 4;
  }

  .cart {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
