@use "src/base.scss";

.stepProgressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

%step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid base.$progress-undone-color;
  border-radius: 50%;
  color: base.$progress-undone-color;
  font-family: base.$main-font-number-family;
  font-weight: 700;
}

.step {
  @extend %step;
}

.step1 {
  @extend %step;
  border: none;
  color: base.$white;
  background-color: base.$progress-current-color
}

.activeStep {
  @extend %step;
  border: 1px solid base.$progress-current-color;
  color: base.$progress-current-color;
}

%stepConnecter {
  width: 60px;
  height: 1px;
  border: 2px solid base.$undone-progress-border;
}

.stepConnecter {
  @extend %stepConnecter;
}

.activeConnector {
  @extend %stepConnecter;
  border: 2px solid base.$progress-current-color;
}
